.word {
    font-weight: 700;
    display: inline-block;
    margin-right: 20px;
}

.phonetic {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    opacity: 0.3;
    font-style: italic;
}